{
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./resources/css/app.css",
  "tailwindFunctions": ["clsx"]
}
