@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

.font-abril-fatface {
  font-family: 'Abril Fatface', cursive;
}

.font-pacifico {
  font-family: 'Pacifico', cursive;
}

.font-teko {
  font-family: 'Teko', sans-serif;
}

.font-lora {
  font-family: 'Lora', serif;
}

.font-bebas-neue {
  font-family: 'Bebas Neue', cursive;
}

.font-indie-flower {
  font-family: 'Indie Flower', cursive;
}

.font-righteous {
  font-family: 'Righteous', cursive;
}

.font-zilla-slab {
  font-family: 'Zilla Slab', serif;
}

.font-satisfy {
  font-family: 'Satisfy', cursive;
}
